aws-sdk-signers==0.0.3
aws_sdk_bedrock_runtime==0.0.1
awscrt==0.25.7
boto3==1.37.30
botocore==1.37.30
ijson==3.3.0
jmespath==1.0.1
PyAudio==0.2.14
python-dateutil==2.9.0.post0
s3transfer==0.11.4
smithy-aws-core==0.0.1
smithy-aws-event-stream==0.0.1
smithy-core==0.0.1
smithy-http==0.0.1
smithy-json==0.0.1
urllib3==2.3.0
